*,:before,:after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 500 !important;
  font-size: 18px !important;
}

html{
  box-sizing: inherit;
}
body{
  background: #663333;
}

.app{
  position: relative;
  width: 100%;
  min-height: 100%;
  background: #663333;
}

@import "home";
@import "cash";



